* {
    box-sizing: border-box;
}


body{
    background-color: rgb(163, 240, 163); 
    
}
.navbar{
    position:fixed;
    top: 0;
    width: 100%;
}
.align-top{
    margin: 5px;
    color: rgb(255, 225, 205);
    font-family:Snell Roundhand, cursive;
    font-weight: 700;
}

.jumbotron{
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    color: rgb(85, 110, 118);
}
h1{
    margin-top: 80px;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
}



.form-inline {  
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  
.amount-input, .date-input,.date-label, .amount-label {
    margin-left: 40px;
}

.type-input, .name-input, .type-label, .name-label{
    margin-left: -40px;
}


.amount-input, .date-input{
    margin-bottom: 30px;
   
}

.type-label, .date-label, .name-label, .amount-label{
    margin-bottom: 10px;
    font-weight: 900;
    font-family: monospace;

}

.table{
    margin: 0 auto;
    width: 700px;
    margin-top: 25px;
}

